__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.tox/
logs/*.log
*.log
.env
.env.local
packages/.DS_Store
.DS_Store
.vscode/
.idea/
docs
# Git worktrees
.worktrees/
